<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fastwave.service.auth.user.dao.RoleDao">

    <resultMap type="fastwave.service.auth.user.entity.Role" id="roleResultMap">
        <id column="id" property="id"/>
        <result column="customer_id"  property="customerId"/>
        <result column="role_name"  property="roleName"/>
        <result column="system_default"  property="systemDefault"/>
        <result column="create_by"  property="createBy"/>
        <result column="create_date"  property="createDate"/>
        <result column="update_by"  property="updateBy"/>
        <result column="update_date"  property="updateDate"/>
        <result column="del_flag"  property="delFlag"/>
    </resultMap>
    
	<select id="get" resultType="fastwave.service.auth.user.entity.Role">
		select `id`,`customer_id`,`role_name`,`system_default`,`create_by`,`create_date`,`update_by`,`update_date`,`del_flag` from admin_auth_role where id = #{id}
	</select>

	<select id="list" resultType="fastwave.service.auth.user.entity.Role">
		select `id`,`customer_id`,`role_name`,`system_default`,`create_by`,`create_date`,`update_by`,`update_date`,`del_flag` from admin_auth_role
        <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  <if test="roleName != null and roleName != ''"> and role_name = #{roleName} </if>
		  <if test="systemDefault != null and systemDefault != ''"> and system_default = #{systemDefault} </if>
		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
 		  <if test="delFlag == null"> and del_flag = 0 </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
		
 	<select id="count" resultType="int">
		select count(*) from admin_auth_role
		 <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  <if test="roleName != null and roleName != ''"> and role_name = #{roleName} </if>
		  <if test="systemDefault != null and systemDefault != ''"> and system_default = #{systemDefault} </if>
		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
          <if test="delFlag == null"> and del_flag = 0 </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="fastwave.service.auth.user.entity.Role" useGeneratedKeys="true" keyProperty="id">
		insert into admin_auth_role
		(
			`customer_id`, 
			`role_name`, 
			`system_default`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`, 
			`del_flag`
		)
		values
		(
			#{customerId}, 
			#{roleName}, 
			#{systemDefault}, 
			#{createBy}, 
			#{createDate}, 
			#{updateBy}, 
			#{updateDate}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="fastwave.service.auth.user.entity.Role">
		update admin_auth_role 
		<set>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="roleName != null">`role_name` = #{roleName}, </if>
			<if test="systemDefault != null">`system_default` = #{systemDefault}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="remove">
		update admin_auth_role 
		<set>
          `del_flag`=1
		</set>
		where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>