<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fastwave.service.auth.user.dao.UserRoleDao">

    <resultMap type="fastwave.service.auth.user.entity.UserRole" id="userRoleResultMap">
        <id column="id" property="id"/>
        <result column="user_id"  property="userId"/>
        <result column="role_id"  property="roleId"/>
        <result column="create_by"  property="createBy"/>
        <result column="create_date"  property="createDate"/>
    </resultMap>
    
	<select id="get" resultType="fastwave.service.auth.user.entity.UserRole">
		select `id`,`user_id`,`role_id`,`create_by`,`create_date` from admin_auth_user_role where id = #{id}
	</select>

	<select id="list" resultType="fastwave.service.auth.user.entity.UserRole">
		select `id`,`user_id`,`role_id`,`create_by`,`create_date` from admin_auth_user_role
        <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  <if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
		
 	<select id="count" resultType="int">
		select count(*) from admin_auth_user_role
		 <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  <if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="fastwave.service.auth.user.entity.UserRole" useGeneratedKeys="true" keyProperty="id">
		insert into admin_auth_user_role
		(
			`user_id`, 
			`role_id`, 
			`create_by`, 
			`create_date`
		)
		values
		(
			#{userId}, 
			#{roleId}, 
			#{createBy}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="fastwave.service.auth.user.entity.UserRole">
		update admin_auth_user_role 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="roleId != null">`role_id` = #{roleId}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
	</update>
	
	<update id="remove">
		update admin_auth_user_role 
		<set>
          `del_flag`=1
		</set>
		where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>